<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signal Game</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>

  <body>
    <header>
      <a href="/register" class="logo">
        <img src="/img/Signal_logo.png" alt="Signal Logo" />
        <h1>CipherChat</h1>
      </a>
    </header>

    {{{body}}}
  </body>
</html>